

.film img{
    width: 220px;
    height: 290px;
    object-fit: cover;
    transition: 0.7s ease;
    border: 3px solid white;
    cursor: pointer;
    margin-top: 12px;
}

.film img:hover{
    transform: scale(1.1);
    opacity: 0.6;
    /* background-color: ; */
}

.film img:hover ~ .more {
    background-color: rgba(51, 39, 63, 0.37);
    background-color: rgba(23, 20, 26, 0.87);
    font-size: 16px;
    transform: rotate(1.2);
    cursor: pointer;
    color: #fff;
}

.title{
    color: rgb(198, 214, 221);
    font-size: 10px;
    width: 200px;
    font-weight: bolder;
    background-color: black;
}

.more{
    /* margin-top: 11px; */
    margin: 130px 58px;
    font-size: 15px;
    font-weight: bolder;
    transition: 1s ease;
    background-color: orange;
    background-color: rgba(67, 26, 110, 0.27);
    background-color: rgba(23, 20, 26, 0.27);
    width: 100px;
    text-align: center;
    padding: 40px 3px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    background: transparent;
    color: transparent;
    /* color: rgba(0, 0, 0, 0.37); */
}

/* .more:hover{
    margin-top: 11px;
    background-color: rgba(51, 39, 63, 0.37);
    background-color: rgba(23, 20, 26, 0.87);
    font-size: 16px;
    transform: rotate(1.2);
    cursor: pointer;
    color: #fff;
} */

.blog{
    margin: 20px 0;
    position: relative;
    color: white 0.6;
}


.blog:hover{
    margin: 20px 0;
    position: relative;
    color: rgb(255, 255, 255);
}


/* .film:hover{
    width: 230px;
    height: 230px;
} */